.reports{
    color: black;
    background-color: #323232;
    font-size: 1.125rem;
    font-family: system-ui;
    line-height: 1.5;
}
.reports table {
    width: 100%; /* Make the table take full available width */
    table-layout: fixed; /* Distribute column widths based on initial content */
  }

  .card-title-box {
    background-color: #f0f0e8; /* Light beige background */
    color: black; /* Easy-to-read text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 1px solid #dcdcdc; /* Light gray border */
    border-radius: 5px; /* Add rounded corners if desired */
    width: 250px; /* Adjust width as needed */
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .reports table td {
    word-break: break-word; /* Allow long words to break */
    color: #4183C4;
    background-color: aliceblue;
  }
  .reports table th {
    background-color: #4183C4;
    color: white;
  }
  
  .reports .Stats { /* Or another container around the table */
    overflow-x: auto;  /* Add horizontal scroll if needed */
  } 