.map body{
    color: white;
    background-color: white;
    font-size: 1.125rem;
    font-family: system-ui;
    line-height: 1.5;
}
.table-container {
    max-width: 100%;
    border-collapse: collapse;
    background: #323232;
    padding: 30px;
}

.map caption,
th, 
td{
    background: #323232;
    padding: 1rem;
}

.map caption,
th
{
    font-size: 1.5 rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}
.map caption{
    background: hsl(0 0% 0%);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.map th{
    background: hsl(0 0% 0%/ 0.5);
}

.map td:nth-of-type(2n){
    background: hsl(0 0% 0%/ 0.1);
}

